<ion-view title="ToDo App" cache-view="false">
    <div class="bar bar-subheader">
        <div class="tabs-striped tabs-background-royal tabs-color-light">
            <div class="tabs">
                <a class="tab-item active" ui-sref="#">
                    Pendiente
                </a>
                <a class="tab-item" ui-sref="completo">
                    Completadas
                </a>
            </div>
         </div>
    </div>

  <ion-content class="padding has-subheader">

    <div class="card text-wrapper" ng-repeat="task in home.tasks track by $index" ng-if="task.complete == false" >
        <ion-item class="item-body">
            <!--Descripción de la Tarea-->
            <h2 class="title-task">{{ task.description | uppercase}}</h2>
            <!--Fecha-->
            <p>
                <i class="icon ion-android-calendar icon-task"></i>
                <span class="date-task">{{ task.date }}</span>
            </p>
        </ion-item>
        <!-- Botones Inferiores -->
        <div class="item item-divider tabs tabs-secundary tabs-icon-left">
            <a ui-sref="detail({index: $index})" class="tab-item">
                <i class="icon ion-android-create"></i>
                Editar
            </a>
            <a href="#" class="tab-item" ng-click="home.setComplete(this.task)">
                <i class="icon ion-android-done-all"></i>
                Completado
            </a>
            <a href="#" class="tab-item" ng-click="home.deleteTask(this.task.$index)">
                <i class="icon ion-android-delete"></i>
                Borrar
            </a>
        </div>
    </div>
  </ion-content>
  <!--Footer-->
  <div class="bar bar-footer secundary-color">
    <div class="title">
        <a ui-sref="create" style="text-decoration: none;">
            <i class="icon ion-plus-circled"></i>
            Nueva Tarea
        </a>
    </div>
  </div>
</ion-view>
