/* Empty. Add your own CSS if you like */

.btn-fab {
	z-index: 100;
	font-weight: bolder;
	height: 60px;
	width: 60px;
	border-radius: 60%;
	font-size: 2em;
	padding: 0;
}

.title-task {
	font-weight: bold;
	text-align: center;
}

.icon-task {
	font-size: 1.2em;
}

.date-task {
	font-size: 0.8em;
}

.secundary-color {
	background-color: #FF4081;
	color: #FFF;
}
